<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="3.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://alist.moesr.com/d/npust/iPA/2-6776934356.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <false/>
                        <key>url</key>
                        <string>https://cvws.icloud-content.com.cn/B/ATsVGExERgR3MHDv_tfWVx39tN1GARAeagWcrZ-ARcq_27G7soaPJTqp/114x114bb.jpg?o=Alsbka3aDEdDL48viUQNP3aQQjgQdoLjozClTD1ekc6B&v=1&x=3&a=CAogSikrZ85Z2AI9mEeOTzj5ybg0oVNGw2dHMPOAJzfAlXUSbxCcxKL3oDIYnKH--KAyIgEAUgT9tN1GWgSPJTqpaiePRF4uy3R-kMxxxrUHLR811v3SKQ6QmEFy5jl9YKjtqQ_Y3t8Fj8VyJ4xDPiv-DMqQiu4CX1gGXICk0-J-0aRbL0fz4mku6_Et1aT1TMgpGA&e=1726830579&fl=&r=e3424d25-50a4-465a-bbf7-8cd12105fc74-1&k=KN5-Gmxm2Bd9FvVqV-q8EQ&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=210&s=TjDt8tcSFGvV_nBnyy1FaUUvm54&cd=i</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <false/>
                        <key>url</key>
                        <string>https://cvws.icloud-content.com.cn/B/ATsVGExERgR3MHDv_tfWVx39tN1GARAeagWcrZ-ARcq_27G7soaPJTqp/114x114bb.jpg?o=Alsbka3aDEdDL48viUQNP3aQQjgQdoLjozClTD1ekc6B&v=1&x=3&a=CAogSikrZ85Z2AI9mEeOTzj5ybg0oVNGw2dHMPOAJzfAlXUSbxCcxKL3oDIYnKH--KAyIgEAUgT9tN1GWgSPJTqpaiePRF4uy3R-kMxxxrUHLR811v3SKQ6QmEFy5jl9YKjtqQ_Y3t8Fj8VyJ4xDPiv-DMqQiu4CX1gGXICk0-J-0aRbL0fz4mku6_Et1aT1TMgpGA&e=1726830579&fl=&r=e3424d25-50a4-465a-bbf7-8cd12105fc74-1&k=KN5-Gmxm2Bd9FvVqV-q8EQ&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=210&s=TjDt8tcSFGvV_nBnyy1FaUUvm54&cd=i</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.zhiliaoapp.musically</string>
                    <key>bundle-version</key>
                    <string>21.1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>TikTok</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
